{%extends 'layout.html.twig'%}

{% block body %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Sales </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{sales|length}}</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

			<!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <h5 class="card-title">Revenue </span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6>${{revenue}}</h6>
                     </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

			<!-- Customers Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <h5 class="card-title">Customers </span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{customers|length}}</h6>
                     </div>
                  </div>
                </div>

              </div>
            </div><!-- End Customers Card -->

			<!-- products Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Products </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-list"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{products|length}}</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End products Card -->


            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">Recent Sales </h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Products</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
					{% for sale in recentSales %}
                      <tr>
                        <th scope="row"><a href="#">{{sale.id}}</a></th>
                        <td>{{sale.getClient()}}</td>
                        <td><a href="#" class="text-primary">{{sale.product}}</a></td>
                        <td>{{sale.getTotalPrice()}}</td>
                        <td><span class="badge bg-success">{{sale.status}}</span></td>
                      </tr>
					  {%endfor%}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

            <!-- Products -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="card-body pb-0">
                  <h5 class="card-title">Top Products </h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Preview</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
					{%for product in products%}
                      <tr>
                        <th scope="row"><a href="#"><img src="{{product.getImg()}}" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">{{product}}</a></td>
                        <td>${{product.getPrix()}}</td>
                        <td>{{product.qte}}</td>
                      </tr>
					  {%endfor%}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Products -->

			<!-- Reports -->
            <div class="col-12">
			
              <div class="card">

                <div class="card-body">
                  <h5 class="card-title">Reports </h5>

                  <!-- Line Chart -->
                  <div id="barChart"></div>

                  <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#barChart"), {
                    series: [{
                      data: {{ data|json_encode|raw }}
                    }],
                    chart: {
                      type: 'bar',
                      height: 350
                    },
                    plotOptions: {
                      bar: {
                        borderRadius: 4,
                        horizontal: true,
                      }
                    },
                    dataLabels: {
                      enabled: false
                    },
                    xaxis: {
                      categories: {{ name|json_encode|raw }},
                    }
                  }).render();
                });
              </script>
                  <!-- End Line Chart -->

                </div>

              </div>
            </div><!-- End Reports -->


          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- comments -->
          <div class="card">
            
            <div class="card-body">
              <h5 class="card-title">Recent Comments </h5>
            {%for comment in comments%}
              <div class="activity">

                <div class="activity-item d-flex">
                  <div class="activite-label">
				  {% set difference = date('now').diff(date(comment.date)) %}
				  {{ difference|date}}
				  </div>
                  <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                  <div class="activity-content">
                    {{comment.message}}
                  </div>
                </div><!-- comment item-->

              </div>
			  {%endfor%}

            </div>
          </div><!-- comments-->

        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}