{% extends 'layout.html.twig' %}
{% block body %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
          <li class="breadcrumb-item">Orders</li>
          <li class="breadcrumb-item active">Data</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Datatables</h5>
              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Products</th>
                    <th scope="col">Address</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                {%for commande in commandes%}
                  <tr>
                    <th scope="row">{{commande.id}}</th>
                    <td>{{commande.client}}</td>
                    <td>{{commande.produits|join(',')}}</td>
                    <td>{{commande.adresse}}</td>
                    <td>{{commande.getDateCommande()|date('Y-m-d H:i:s')}}</td>
                    <td>
                    <a href="{{path('app_commande_delete',{'id':commande.id})}}" type="button" class="btn btn-outline-danger" onclick="return confirm('Are you sure?')">Delete</a>
                    <a href="{{path('app_confirm',{'id':commande.id})}}" type="button" class="btn btn-outline-success">Confirm</a>
                    </td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{%endblock%}